*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app{
    min-height: 100vh;
    background-color: black;
    color: aliceblue;
    padding-top: 20vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
img{
    background-color: aliceblue;
}
.select-btn{
    background-color: rgba(255, 255, 255, 0.308);
    width: 100%;
    max-width: 500px;
    height: 50px;
    padding: 0px 30px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

}
.select-btn:hover{
    /* background-color: rgba(255, 255, 255, 0.308); */
    
    background-color: rgba(105, 103, 103, 0.329);

}
/* .select-btn span img{
    transform: rotate(180deg);
    transition: 5s ease-in-out;
} */
/* dropdown anime */
.select-btn.open span img{
    transform: rotate(180deg);
    transition: 2s ease-in-out;
}

.app ul{
    background-color: rgba(255, 255, 255, 0.308);
    width: 100%;
    max-width: 500px;
    margin-top: 5vh;
    /* display: none; */
    transform: scale(0);

    /* working */
    /* transition: 5s ease-in-out; */
}


/* .app ul.open{
    transform: scale(1);
    transition: 2s ease-in-out;

} */
.select-btn.open~ ul{
    transform: scale(1);
    transition: 2s ease-in-out;

}

ul li{
    list-style: none;
    padding: 0px 30px;
    height: 50px;
    cursor: pointer;

    display: flex;
    align-items: center;
    column-gap: 10px;

}
ul li:hover{

    background-color: rgba(0, 0, 0, 0.329);
}

li .check-box{
    border: 2px solid black;
    width: 16px;
    height: 16px;
    display: flex;
    /* align-items: center;
    justify-content: center; */
}
.check-box img{
    transform: scale(0);
    /* transition: 5s ease-in-out; */
}
.item.checked .check-box img{
    transform: scale(1);
    transition: 2s ease-in-out;
}